<!--
Generated template for the SignIn page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signIn</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <h2 class="form_signup_title">Type here your personal information</h2>
  <!--<div class="form_signup_container">

    <ion-item class="input_container">
      <ion-input class="input_signup" text-center [(ngModel)]="user.login" ngControl="login" placeholder="login"></ion-input>
    </ion-item>
    <ion-item class="input_container">
      <ion-input class="input_signup" text-center [(ngModel)]="user.pass" ngControl="pass" placeholder="pass"></ion-input>
    </ion-item>
  </div>-->

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input  class="input_signup" #email formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input class="input_signup" #password formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button full [navPush]="snap" class="button_signup" type="submit">Valider</button>

  </form>


</ion-content>
