page-sign-in {
    .button_signup{
        position: absolute;
        bottom: 0px;
        margin:0px;
        height: 15%;
        font-size: 3rem;
        background: linear-gradient(to right, #b3ffab, #12fff7);
    }
    .pageContentStyle{
      background-color: white;
    }
}
