page-home {

}
.bottom_button_container{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40%;
}
.big-btn{
  margin:0px;
  height: 50%;
  font-size: 3rem;
}
.red_color{
  background: linear-gradient(to right, #c21500, #ffc500);
}
.blue_color{
  background: linear-gradient(to right, #b3ffab, #12fff7);
}
