page-feed {
    .square {
        width: 60px;
        height: 60px;
        border-radius: 6px;
        background-color: red;
    }

    .square-seen {
        border: solid 1px red;
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }

    .customIconSize{
        color: red;
        font-size: 35px;
    }

    .customIconSizeEmpty{
        color: white;
        font-size: 35px;
        border-color: red;
    }

    .labelSnap{
        display: inline-block;
        position: relative;
        top: -5px;
        font-size: 20px;
        margin: auto;
        margin-left: 10px;
    }

    .pageContentStyle{
        padding-top: 50px;
        height: 100%;
        background-color: white;
    }
}
