<!--
Generated template for the Feed page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Mes Snap</ion-title>
    </ion-navbar>

</ion-header>

<div class="pageContentStyle">
  <ion-content>

    <ion-list *ngIf="!showSnap">
      <button ion-item *ngFor="let snap of snaps" (click)="openSnap(snap)" class="snapContainer">
        <ion-icon name="square" item-start class="customIconSize"></ion-icon>
        <div class="labelSnap">
          {{ snap.from }}
        </div>
      </button>
      <button ion-item *ngIf="snaps.length == 0" class="snapContainer">
        <ion-icon name="square" item-start class="customIconSize"></ion-icon>
        <div class="labelSnap">
          Aucun snaps...
        </div>
      </button>
    </ion-list>
    <img [src]="picture" *ngIf="showSnap" (click)="clickOnSnapToClose()">
  </ion-content>
</div>
