page-feed {
    .square {
        width: 60px;
        height: 60px;
        border-radius: 6px;
        background-color: red;
    }

    .square-seen {
        border: solid 1px red;
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }

    .snapContainer{
      height: 75px;
    }

    .customIconSize{
      color: red;
      font-size: 35px;
    }

    .labelSnap{
      display: inline;
      height: 100%;
      padding: 5px;
    }

}
