page-feed {
    .square {
        border: solid 15px red;
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }

    .square-seen {
        border: solid 1px red;
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
}
