<ion-content>
    <div *ngIf="displayFriendMenu" class="friendMenu">
        <div>
            {{ user.login }}
        </div>
        <div>
            Score: {{ user.score }}
        </div>

        <button ion-button block color="light">Ils m'ont ajouté</button>
        <button ion-button block color="light">Ajouter des amis</button>
        <button ion-button block color="light">Mes amis</button>
        <button ion-button block color="light" (click)="logout()">Deconnexion</button>
    </div>

    <ion-fab class="middle-top" *ngIf="!displayFriendMenu && !tookSnap">
        <button ion-button outline (click)="clickFriendMenu()" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/user.svg" alt=""></button>
    </ion-fab>

    <ion-fab right top *ngIf="!displayFriendMenu && !tookSnap">
        <button ion-button outline (click)="switchCamera()" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/revert.svg" alt=""></button>
    </ion-fab>

    <ion-fab right top *ngIf="displayFriendMenu">
        <button ion-button outline (click)="closeFriendMenu()" class="closeButton"><ion-icon name="md-close"></ion-icon></button>
    </ion-fab>

    <ion-fab right top *ngIf="tookSnap">
        <button ion-button outline (click)="closeTookSnap()"><ion-icon name="md-close"></ion-icon></button>
    </ion-fab>

    <ion-fab class="middle-bottom" *ngIf="!displayFriendMenu && !tookSnap">
        <button ion-button outline (click)="takePicture()" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/photo-camera.svg" alt=""></button>
    </ion-fab>

    <ion-fab right bottom *ngIf="tookSnap">
        <button ion-button (click)="sendPicture()"></button>
    </ion-fab>

    <ion-fab left bottom *ngIf="!displayFriendMenu && !tookSnap">
        <button ion-button outline [navPush]="feed" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/more.svg" alt=""></button>
        <!--(click)="closeCamera()"-->
    </ion-fab>


    <img [src]="picture" *ngIf="tookSnap"/>
</ion-content>
