<ion-content>
    <div *ngIf="displayUserMenu" class="friendMenu">
      <div class="logo_app_container">
        <img class="logo_app" src="assets/images/alien_logo.svg" alt="Logo">
      </div>
        <div class="userNameField">
            {{ user.login }}
        </div>
        <div class="scoreField">
            Score: {{ user.score }}
        </div>

        <button ion-button block color="light" class="btnUser" >Ils m'ont ajouté</button>
        <button ion-button block color="light" class="btnUser" >Ajouter des amis</button>
        <button ion-button block color="light" class="btnUser" >Mes amis</button>
        <button ion-button block color="light" class="btnUser deconnectionColor" (click)="logout()">Deconnexion</button>
    </div>

    <ion-fab class="middle-top" *ngIf="!displayUserMenu && !pictureServiceProvider.tookSnap">
        <button ion-fab outline (click)="clickUserMenu()" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/user.svg" alt=""></button>
    </ion-fab>

    <ion-fab right top *ngIf="!displayUserMenu && !pictureServiceProvider.tookSnap">
        <button ion-fab outline (click)="switchCamera()" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/revert.svg" alt=""></button>
    </ion-fab>

    <ion-fab right top *ngIf="displayUserMenu">
        <button ion-fab outline (click)="closeUserMenu()" class="closeButton"><ion-icon name="md-close"></ion-icon></button>
    </ion-fab>

    <ion-fab right top *ngIf="pictureServiceProvider.tookSnap">
        <button ion-fab outline (click)="closeTookSnap()"><ion-icon name="md-close"></ion-icon></button>
    </ion-fab>

    <ion-fab class="middle-bottom" *ngIf="!displayUserMenu && !pictureServiceProvider.tookSnap">
        <button ion-fab outline (click)="takePicture()" id="takeSnap" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/photo-camera.svg" alt=""></button>
    </ion-fab>

    <ion-fab right bottom *ngIf="pictureServiceProvider.tookSnap">
        <button ion-fab (click)="sendPicture()"><ion-icon name="md-send"></ion-icon></button>
    </ion-fab>

    <ion-fab left bottom *ngIf="!displayUserMenu && !pictureServiceProvider.tookSnap">
        <button ion-fab outline [navPush]="feed" class="takePhotoButton"><img class="takePhotoButtonImage" src="assets/images/more.svg" alt=""></button>
    </ion-fab>


    <img [src]="pictureServiceProvider.picture" *ngIf="pictureServiceProvider.tookSnap"/>
</ion-content>
